@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  main{
    @apply bg-gradient-radial from-base-100 to-base-300
  }
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@layer utilities {
  .grid-background {
    background-image: linear-gradient(to right, transparent 1px, #cbd5e0 1px);
    background-size: 16px 100%;
    background-repeat: repeat-y;
  }

  .grid-background::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 1px, #cbd5e0 1px);
    background-size: 100% 16px;
    background-repeat: repeat-x;
  }
}
.theme-fade-enter {
  opacity: 0;
}

.theme-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.theme-fade-exit {
  opacity: 1;
}

.theme-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
::-moz-selection {
 @apply bg-base-300 text-primary-focus
}
::-webkit-selection {
 @apply bg-base-300 text-primary-focus
}
::selection {
 @apply bg-base-300 text-primary-focus
}